{{- "# On " + inventory_hostname + ":\n" -}}
{{- "\n" -}}
{{- "show version\n" | indent(8, True, False) -}}
{{- "show logging | last 100 | no-more\n" | indent(8, True, False) -}}
{{- "show module\n" | indent(8, True, False) -}}
{{- "show environment | no-more\n" | indent(8, True, False) -}}
{{- "show processes cpu history | no-more\n" | indent(8, True, False) -}}
{{- "show cdp neighbors\n" | indent(8, True, False) -}}
{{- "show lldp neighbors\n" | indent(8, True, False) -}}
{{- "show interface status | include connected | no-more\n" | indent(8, True, False) -}}
{{- "show interface status | include notconn | no-more\n" | indent(8, True, False) -}}
{{- "show interface status | include disabled | no-more\n" | indent(8, True, False) -}}
{{- "show interface status | exclude disabled|TRANS|TRUNK|notconn|unknown | no-more\n" | indent(8, True, False) -}}
{{- "show port-channel summary\n" | indent(8, True, False) -}}
{{- "show spanning-tree detail | no-more\n" | indent(8, True, False) -}}
{{- "show ip route summary\n" | indent(8, True, False) -}}
{{- "show ip bgp summary\n" | indent(8, True, False) -}}
{%- for uplinkDevice in uplinks -%}
  {%- set deviceName = uplinkDevice.deviceName -%}
  {%- set firstInterfaceName = uplinkDevice.interfacesList[0] -%}
  {{- "\n" -}}
  {%- if "xe" in firstInterfaceName or "et" in firstInterfaceName -%}
    {{- ("# On " + deviceName + ":\n") | indent(8, True, False) -}}
    {{- "\n" -}}
    {{- "show version invoke-on all-routing-engines | no-more\n" | indent(8, True, False) -}}
    {{- "show log messages | last 100 | no-more\n" | indent(8, True, False) -}}
    {{- "show chassis alarms | no-more\n" | indent(8, True, False) -}}
    {{- "show configuration | display set | no-more\n" | indent(8, True, False) -}}
    {{- "show chassis fpc | no-more\n" | indent(8, True, False) -}}
    {{- "show chassis routing-engine | no-more\n" | indent(8, True, False) -}}
    {{- "show chassis hardware clei-models | no-more\n" | indent(8, True, False) -}}
    {{- "show interfaces terse | no-more\n" | indent(8, True, False) -}}
    {{- "show lldp neighbors | no-more\n" | indent(8, True, False) -}}
    {{- "show lldp neighbors | count\n" | indent(8, True, False) -}}
    {{- "show route summary | no-more\n" | indent(8, True, False) -}}
    {{- "show bgp summary | no-more\n" | indent(8, True, False) -}}
    {{- "show bgp summary | count | no-more\n" | indent(8, True, False) -}}
    {{- "show vlans | no-more\n" | indent(8, True, False) -}}
    {{- "show vrrp brief | no-more\n" | indent(8, True, False) -}}
    {{- "show spanning-tree interface brief | no-more\n" | indent(8, True, False) -}}
    {{- "show arp | no-more\n" | indent(8, True, False) -}}
  {%- else -%}
    {{- ("# On " + deviceName + ":\n") | indent(8, True, False) -}}
    {{- "\n" -}}
    {{- "show version | no-more\n" | indent(8, True, False) -}}
    {{- "show logging 100 | no-more\n" | indent(8, True, False) -}}
    {{- "show module | no-more\n" | indent(8, True, False) -}}
    {{- "show environment all | no-more\n" | indent(8, True, False) -}}
    {{- "show processes top\n" | indent(8, True, False) -}}
    {{- "show lldp neighbors | no-more\n" | indent(8, True, False) -}}
    {{- "show interfaces status | include connected | no-more\n" | indent(8, True, False) -}}
    {{- "show interfaces status | include notconnect | no-more\n" | indent(8, True, False) -}}
    {{- "show interfaces status | include disabled | no-more\n" | indent(8, True, False) -}}
    {{- "show interfaces status | no-more | exclude disabled | TRANS | TRUNK | notconn | unknown\n" | indent(8, True, False) -}}
    {{- "show port-channel summary\n" | indent(8, True, False) -}}
    {{- "show spanning-tree detail\n" | indent(8, True, False) -}}
    {{- "show ip route summary | no-more\n" | indent(8, True, False) -}}
    {{- "show ipv6 route summary | no-more\n" | indent(8, True, False) -}}
    {{- "show ip bgp summary | no-more\n" | indent(8, True, False) -}}
    {{- "show ipv6 bgp summary | no-more\n" | indent(8, True, False) -}}
  {%- endif -%}
{%- endfor -%}
{{- "\n" -}}
